<!DOCTYPE html>
<html>
<head>
  <title>Clother store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body id="store">
    <div id="banner">
    <%= form_tag '/', :class => 'locale', :method => :get do %>
      <%= select_tag 'set_locale',
          options_for_select(LANGUAGES, I18n.locale.to_s),
          :onchange => 'this.form.submit()' %>         
    <% end %>
    <%= image_tag("logo.png") %>
    <%= @page_title || t('.title') %>
    </div>
    <div id="columns">
      <div id="side">
        <%= link_to t('.home'), '/' %><br />
        <a href="#"><%= t('.faq') %></a><br />
        <a href="#"><%= t('.news') %></a><br />
        <a href="#"><%= t('.contact') %></a><br />

        <% if session[:user_id] %>
            <br/>
            <%= link_to 'Orders', '/orders' %><br />
            <%= link_to 'Products', '/products' %><br />
            <%= link_to 'Users', '/users' %><br />
            <%= button_to 'Logout', '/logout', :method => :delete %>
            <br/>
        <% else %>
            <br/>
            <%= link_to 'Log In', login_path %><br />
        <% end %>

        <div id="cart">
          <%= hide_cart_if(current_cart.line_items.empty?, :id => "cart") do %>
          <%= render current_cart %>
          <% end %>
        </div>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
</body>
</html>
